// COLORS

$navy: #333A56;
$brown: #723B39;
$tangerine: #bb5834;
$orange: #DE7E44;
$yellow: #F2C91F;
$periwinkle: #6f6dad;
$lightBlue: #aab1d4;
$white: white;

// Shadows
$glow: drop-shadow(0 0 12px #fdd);

// Transitions
$easeInOut: all .2s ease-in-out;

// Breakpoints
$desktop: 1200px;
$tablet: 768px;
$mobile: 320px;