@use '../styles/partials/variables' as *;
@use '../styles/partials/mixins' as *;


.key {
    text-align: center;
    position: relative;
}

.key input  {
    display: none;
}

.key .sound {
    color: $brown;
    font-weight: 600;
    line-height: 1;
    width: 130px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: $yellow 3px solid;
    border-radius: 1.5rem;
    transition: all .06s ease-out, background .2s ease-in-out;
    cursor: pointer;
    box-shadow: 5px 5px 0px 0px $tangerine, 10px 10px 0px 0px $brown, 5px 5px 15px 5px rgba(0,0,0,0);
    position: relative;
    top: 0;
    left: 0;
}

.key button.sound:active {
    box-shadow: 1px 1px 0px 0px $tangerine, 2px 2px 0px 0px $brown, 1px 1px 3px 1px rgba(0,0,0,0);
    left: 8px;
    top: 8px;
}

.key input:checked + .sound,
.key button.sound {
    background-color: $yellow;
}

.key .togglePlay {
    appearance: none;
    color: $white;
    background-color: transparent;
    border: none;
    padding: 0;
    position: absolute;
    bottom: -12px;
    left: 0;
    right: 0;
    cursor: pointer;
    font-size: 3rem;
    height: 1em;
    width: 1em;
    margin: 0 auto;
    transition: $easeInOut;
}

.key .togglePlay:hover,
.key button.sound:hover .togglePlay {
    filter: drop-shadow(0 0 5px $white);
}

.sadFace {
    padding-left: 0.5rem;
}